@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        Singleton:   @ViewBag.Singleton
    </p>
    <p>
        Transient:   @ViewBag.Transient
    </p>
    <p>
        Scoped:   @ViewBag.Scoped
    </p>
    <hr />
    <p>
        Service Singleton:   @ViewBag.ServiceSingleton
    </p>
    <p>
        Service Transient:   @ViewBag.ServiceTransient
    </p>
    <p>
        Service Scoped:   @ViewBag.ServiceScoped
    </p>
</div>
